@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oswald';
    font-display: swap;
    src: url('~/assets/fonts/Oswald-Regular.ttf'), url('~/assets/fonts/Oswald-Light.ttf'), url('~/assets/fonts/Oswald-Medium.ttf'), url('~/assets/fonts/Oswald-SemiBold.ttf'), url('~/assets/fonts/Oswald-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('~/assets/fonts/OpenSans-Regular.ttf'), url('~/assets/fonts/OpenSans-Light.ttf'), url('~/assets/fonts/OpenSans-Medium.ttf'), url('~/assets/fonts/OpenSans-SemiBold.ttf'), url('~/assets/fonts/OpenSans-Bold.ttf');
}

@layer base {
    html {
        font-family: 'Open Sans';
    }
}
